.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.counter {
  font-size: 44px;
}
.menu {
  position: relative;
}
.reset_button {
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 60px;
  width: 60px;
}
.counter_button {
  height: 160px;
  width: 160px;
  margin: 40px 0 0 0;
  border: solid 1px black;
  border-radius: 50%;
}

.animal_list {
  margin: 100px auto 0;
}

.animal_item {
  height: 60px;
  width: 60px;
  margin: 5px;
}

.about {
  margin: 40px 0 0 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
